html{
    font-size: 50px;
}


#div1{
    width: 15rem;
    /* 100vw;  */
    /* 200px; */
    height: 6rem;
    100vh;
    /* 300px; */
    background-color: aquamarine;
    /* Ways of colouring in html
    hex code #982617
    rbg(45,83,92)
    rgba(32,53,6,1) here a is opacity value
    direct color name 
    hsl(120,34,53)
    hsla(240,54,29,1)*/
}

#div2{
    width: 50%;
    height: 50%;
    background-color: aqua;
    border-width: 5px;
    border-style: solid;
    border-color: blueviolet;
}