p{
    color: orange;
    font-size: 22px;
}
h1{
    font-size: 50px;
    color: rgb(118, 197, 50);
}
h4{
    text-transform: uppercase;
}
#heading{
color: blueviolet;
}
li h4{
    color: cyan;
    font-family:cursive;
}
#head:hover{
    color: orange;
}

main{
    width: 60%;
    display: inline-block;
}

/* Aside */

#subsription{
    border: 3px solid black;
    /* display: inline-block; */
    /* width: 20%; */
    /* vertical-align: top; */
}

#aside-widget{
    vertical-align: 35%;
    display: inline-block;
}