body{
    margin: 0px;
}
.sec-title h1 span img{
    height: 35px;
    width: 40px;
}

#body-header{
    background-image: url(/Portfolio/static/macbook_mouse.jpg);
    height: 65vh;
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.horizontal-list{
    list-style: none;
    padding-left: 15px;
    text-align: center;
    margin: 0px;
}
.horizontal-list li{
    display: inline-block;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.horizontal-list li a{
    color: white;
    text-decoration: none;
    transition:color 0.7s  ;
    padding: 12px;
}
.horizontal-list li a:hover{
    color: rgb(124, 155, 158);
    border-bottom: 1px rgb(124, 155, 158) solid;
}
.text-centre{
    text-align: center;
}
#name-social-container{
    margin-top: 20vh;
}
#header-name{
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0.5rem;
}
#horizontal-list-social li{
    display: inline-block;
    padding: 20px;
}
#horizontal-list-social li img{
    height: 40px;
    width: 40px; 
    background-color: white;  
    border-radius: 50%;
}
#horizontal-list-social li img:hover{
    box-shadow: 0px 0px 6px 4px grey;
}
#about{
    position: relative;
    width: 75%;
    height: auto;
    margin: auto;

}
#my-photo{
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: -13vh;
    /* position: static; */
}
#my-photo img{
    /* position: relative; */
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* margin-left: 41%; */
    box-shadow: 0px 0px 7px 6px gainsboro;
    
}
#bio-summary{
    color: rgb(72, 72, 66);
    font-family: cursive;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* section :nth-child(2n){
    background-color: aqua;
} */



/* skill */
.section-heading{
    width: auto;
    margin:auto;
    font-weight: 400;
    color: rgb(12, 105, 211);
}
#section-heading img{
    height: 40px;
    width: 50px;
}
#skill h1{
    display: flex;
    margin: auto;
}
#skill-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(247, 247, 245);
    height: auto;
    margin: auto;
}
#skill-bg{
    height: 25px;
    width: 120px;
    min-width: 75px;
    background-color: rgb(197, 194, 190);
    border-radius: 25px;
    display: flex;
    margin: 7px;
    flex-direction: row;
}
.skill-comm{
    background-size: cover;
    height: inherit;
    color: white;
    border-radius: 25px 0px 0px 25px;
    display: flex;
    flex-direction: row;
}
#c-plus{
    width:60% ;
    background-color: rgb(66, 66, 205);
}
#c{
    width: 70%;
    background-color:goldenrod ;
}
#html{
    width: 85%;
    background-color:black ;
}
#css{
    width: 62%;
    background-color: rgb(129, 129, 9);
}
#java{
    width:45% ;
    background-color: blueviolet ;
}
#python{
    width:65% ;
    background-color: orangered;
}
#javascript{
    width: 34%;
    background-color: purple ;
}
#angular{
    width: 25%;
    background-color:lawngreen;
}
#mongodb{
    width: 10%;
    background-color:orange ;
}
#mysql{
    width: 45%;
    background-color: pink;
}
#autocad{
    width:65% ;
    background-color: palegoldenrod;
}



/* Work Experience */
.timeline{
    position: relative;
    width: 75%;
    background-color: rgb(244, 246, 248);

}
.timeline-box{
    position: relative;
    width: 40%;
    left: 2%;
    min-height: 120px;
    margin: 5px;
}
.timeline-box:nth-child(2n){
    left: 55%;
}
.timeline-box:nth-child(2n)::after{
    position: absolute;
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: rgb(0, 255, 170);
    z-index: 1;
    left: -16%;
    top: 39%;
}
.timeline-box:nth-child(2n+1)::after{
    position: absolute;
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: rgb(0, 255, 170);
    z-index: 1;
    right: -20%;
    top: 36%;
}
.work-exp img{
    height: 30px;
    width: 30px;
    z-index: 2;

}
.work-exp li{
  text-align: center;
  list-style: none;
}
.timeline-div{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 0;
    min-height: 400px;
    height: 75%;
    border: 1.5px dashed rgb(198, 83, 83);

}
.timeline-img{
    position: sticky;
    top: 20%;
    left: 50%;
}
.timeline-img img{
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
}

/* Education */
.timeline-div-edu{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 0%;
    min-height: 300px;
    height: 75%;
    border: 1.5px dashed rgb(199, 154, 154);

}
.timeline-img-edu {
    
    position: sticky;
    top: 20%;
    left: 50%;
}
.timeline-img-edu img{
    height:  25px;
    width: 25px;
    transform: rotate(180deg);
}



/* Portfolio */

.portfolio-box{
    width: 75%;
    position: relative;
    background-color: rgb(240, 243, 242);
    display: flex;

}

.portfolio-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 45%;
    min-height: 150px;
    width: 45%;
    align-items: center;
    border: 2px solid red;
    margin: 5px;

}

/* Contact */
#contact{
    height: 75vh;
    width: 100%;
    background-image: linear-gradient(45deg,red,blue);
}
.contact-continer{
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
}
#contact-left{
    width: 50%

}
#contact-right{
    width: 50%;

}
